*{
    box-sizing: border-box;
}
:root {
    --col_orange: rgb(227 127 55);
    --col_red: rgb(210 66 75);
  }
body{
    background: #fff;
    font-family: sans-serif;
}
/****************Content**********************/
h2{
    color: var(--col_red);
    text-align: center;
}
/***********Content 1*****************/
h6{
    font-weight: bold;
}
/***********Content 2*****************/
.content-1-box{
    /* display: flex; */
    padding-bottom: 1rem;
}
.content-1-box-1{
    
}
.content-1-box-1 .hs-content-1{
    padding: 20px 0px; 
    text-align: center; 
    box-sizing:border-box;
    background: #fff;
    border: 1px solid #b7b7b7; 
    /* height: 180px; */
     background-attachment: local;

    width: 100%;
    height: 200px;
    /* background-color: black; */
}

.hs-content-2-1 ul{
    overflow: hidden;
    list-style: none;
    margin-top: 10px;
    text-align: start;
}
.hs-content-2-1 li{
    overflow: hidden;
    list-style: none;
    margin-top: 10px;
    padding: 0px 20px 0px 10px;
    text-align: start;
}

.hs-content-2-1 li a{
    text-decoration: none;
    color: #000;
}
#hs-content-2-1-fb a, #hs-content-2-1-zalo a, #hs-content-2-1-phone a{
    color: var(--col_red);
}
/* For 1024 Resolution */  
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 

}
 /* For 1366 Resolution  */
@media only screen and (min-width: 1030px) and (max-width: 1366px) { 

}
/* Others */
@media only screen and (min-width: 1370px) and (max-width: 1605px) { 

}

/* iPad */
/* Orientation : Landscape */  
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {     
    
}      
/* Orientation : Portrait */  
@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {  
        /****** content1*********/
    .content-1-box{
    }
}
/*  Mobile  */
/* For 480 Resolution */  
@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
    /****** content1*********/
    .content-1-box{
        display: block;
    }
    .content-1-box .content-1-box-1{
        height: max-content;
        margin-bottom: 10px;
    }
}