*{
    box-sizing: border-box;
}
:root {
    --col_orange: rgb(227 127 55);
    --col_red: rgb(210 66 75);
  }
body{
    background: #fff;
    font-family: sans-serif;
}
/****************Content**********************/
h2{
    color: var(--col_red);
    text-align: center;
    font-weight: bold;
    font-family: auto;
    text-transform: uppercase;

}
/***********Content 1*****************/
h6{
    font-weight: bold;
/*     text-transform: uppercase; */
    color: var(--col_red);
}
/***********Content san pham 1*****************/
/*********Part com*************/
/*********Part 1*************/
#san-pham-1 .content-2-part-1-box, .content-2-part-2-box{
    padding: 10px 0px;
}
#san-pham-1 .content-2-part-1 .content-2-part-1-box .content-2-part-1-text{
    text-align: center;
}
#san-pham-1 .content-2-part-2 {
    padding: 5px 0px;
}

/***********Content san pham 2*****************/
/*********Part com*************/
/*********Part 1*************/
/* #san-pham-2 .content-2-part-1-box, .content-2-part-2-box{
    padding: 10px 0px;
} */
#san-pham-2 .content-2-part-6{
    display: flex;
}
#san-pham-2 .content-2-part-1 .content-2-part-1-box .content-2-part-1-text{
    text-align: center;
}
.content-2-part-6-box-2{
    display: flex; 
}
.content-2-part-6-box-1{
    padding: 2px;
}
#san-pham-2 .content-2-part-2 {
    /* padding: 5px 0px; */
}

/*********Part 2*************/
/* For 1024 Resolution */  
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 

}
 /* For 1366 Resolution  */
@media only screen and (min-width: 1030px) and (max-width: 1366px) { 

}
/* Others */
@media only screen and (min-width: 1370px) and (max-width: 1605px) { 

}

/* iPad */
/* Orientation : Landscape */  
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {     
    
}      
/* Orientation : Portrait */  
@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {  
      
}
/*  Mobile  */
/* For 480 Resolution */  
@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
    /****** content2*********/
    .content-2-box{
        display: block; 
    }
}
