*{
    box-sizing: border-box;
}
:root {
    --col_orange: rgb(227 127 55);
    --col_red: rgb(210 66 75);
  }
body{
    background: #fff;
    /* height: 100%; */
}
html{
    /* height: 100%; */
}
/****************Content**********************/
/****************Content 1**********************/
.content-1 .cont-pic{
    display: flex;
    /* margin-top: 160px; */
}
.content-1 .cont-pic .content-1-pic img{
    max-width: 100%;
    padding: 0 10px;
}
.content-1 .content-1-title h2{
    color: var(--col_red);
    font-weight: 500;
    text-transform: uppercase;
}
.content-1 .content-1-title p{
    color: rgb(227 127 55);
    font-weight: 500;
}
.content-1 .content-1-title .btnXemThem{
    text-decoration: none;
    background: var(--col_red);
    border: 1px solid #fff;
    border-radius: 5px; 
    color: #fff;
    padding: 10px 20px;
}
.content-1 .content-1-title .btnXemThem:hover{
    /* background: rgba(12, 1, 1, 0.1); */
}
/****************Content 2**********************/
.content-2 .silde-pic-2{
    display: flex;
}
.content-2 .silde-pic-2 .content-2-pic img{
    max-width: 100%;
    padding: 0 10px;
}
.slide-dot-content-2 .slide-dot-2 {
    cursor: pointer;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.content-2 .active{
    cursor: pointer;
    border-radius: 25%;
    background-color: var(--col_red);
    height: 10px;
    width: 20px;
}
.content-2 .content-2-text{
    text-align: center;
}
.content-2 .content-2-text h2{
    color: var(--col_red);
    font-weight: 800;
    font-family: auto;
    text-transform: uppercase;
}
.content-2 .content-2-text p{
    color: #000;
    /* font-weight: 500; */
}
.content-2 .content-2-btn .btnXemThem{
    text-decoration: none;
    background: var(--col_orange);
    border: 1px solid #fff;
    border-radius: 5px; 
    color: #fff;
    padding: 10px 20px;
} 

/****************Content 3**********************/
.content-3 .silde-pic-3{
    display: flex;
}
.content-3 .silde-pic-3 .content-3-pic img{
    max-width: 100%;
    padding-right: 20px;
}
.slide-dot-content-3 .slide-dot-3 {
    cursor: pointer;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.content-3 .active{
    cursor: pointer;
    border-radius: 25%;
    background-color: var(--col_red);
    height: 10px;
    width: 20px;
}
.content-3 .content-3-text{
    text-align: center;
}
.content-3 .content-3-text h2{
    color: var(--col_red);
    font-weight: 800;
    font-family: auto;
    text-transform: uppercase;
}
.content-3 .content-3-text p{
    color: #000;
    /* font-weight: 500; */
}
.content-3 .content-3-btn .btnXemThem{
    text-decoration: none;
    background: var(--col_orange);
    border: 1px solid #fff;
    border-radius: 5px; 
    color: #fff;
    padding: 10px 20px;
} 
/*************Content 4***********/
.content-4 .content-4-text .text-cnt{
    font-size: 32px;
}
.content-4 .content-4-text .text-cnt-0{
    font-weight: 500;
}
.content-4 .content-4-text .text-cnt-1{
    color: var(--col_red);
    font-weight: 800;
    /* font-size: 22px; */
    font-family: auto;
    text-transform: uppercase;
}
.content-4 .content-4-text .text-cnt-2{
    color: var(--col_orange);
    font-weight: 800;
    font-style: italic;
    /* font-size: 22px; */
    font-family: ui-monospace;
    text-transform: uppercase;
}
/*************Content 5***********/
.content-5 .content-5-btn{
    text-align: center;
}
.content-5 .content-5-btn .btnTuVan{
    background: var(--col_orange);
    font-weight: 500;
    color: #fff;
    margin-top: 5px;
    border: #fff 1px solid;
    padding: 18px 18px;
    font-size: 15px;
}
.content-5 .content-5-text{
    margin-top: 10px;
}
.content-5 .content-5-text h2{
    color: var(--col_red);
    font-weight: 800;
    font-family: auto;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
}
.content-5 .pic-5{
    display: flex;
}
.content-5 .pic-5-pol{
    margin: 0px 20px;
}
/*************Content 6***********/
.content-6 .content-6-img {
    /* height: 500px; */
    width: 100%;
    background-image:url(../images/pic_6.jpg) ;
    /* background-size: cover */
}
.content-6 .cnt-6-text1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.content-6 .cnt-6-text1  a{
    text-decoration: none;
    border: #fff 1px solid;
    background: #fff;
    padding: 20px;
    font-weight: 800;
    color: var(--col_red);
}
.content-6-box{
    display: flex;
    margin-top: 10px;
}
.content-6-box .content-6-op-box{
    width: 90%;
    /* height: 600px; */
    margin: auto;
    text-align: center;
}
.content-6-box-text {
    /* padding: 10px 10px 10px; */
    /* float: left; */
    /* position: relative; */
    background: #fff;
    border: 1px solid #b7b7b7;
}
.content-6-box-text a {
    color: var(--col_red);
    font-size:36px
}
.content-6-box-text p {
    font-size: 12px
}
.content-6-box .content-6-op-box:hover{
    transform: scale(1.1);
}
.content-6 .cnt-6-btn {
    margin-bottom: 50px;
}
.content-6 .cnt-6-btn .btnBGN{
    text-decoration: none;
    background: var(--col_red);
    border-radius: 5px; 
    color: #fff;
    padding: 10px 20px;
}
/***********Content 7*****************/
.content-7-text{
    text-align: center;
}
.content-7-text h2{
    color: var(--col_red);
    font-weight: 800;
    font-family: auto;
    text-transform: uppercase;
}
.content-7-box{
    display: flex;
}
.content-7-box .content-7-box-1{
    padding: 0px 10px;
}
.content-7-box-1 .hs-content-7-text{
    background: rgb(104, 102, 103);
    padding: 20px 0px;
}


/* For 1024 Resolution */  
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { 

}
 /* For 1366 Resolution  */
@media only screen and (min-width: 1030px) and (max-width: 1366px) { 

}
/* Others */
@media only screen and (min-width: 1370px) and (max-width: 1605px) { 

}

/* iPad */
/* Orientation : Landscape */  
@media only screen and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {     
    
}      
/* Orientation : Portrait */  
@media only screen and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 1) and (min-device-width : 768px) and (max-device-width : 1007px) {  
      
}
/*  Mobile  */
/* For 480 Resolution */  
@media only screen and (min-device-width : 320px) and (max-device-width : 640px) {
    
    /****** content1*********/
    .content-1 .cont-pic{
        /* display: block; */
        margin-top: 20px;
    }
    .content-2 .silde-pic-2 {
        /* display: block; */
    }
    .content-5 .pic-5 {
         display: block; 
    }
    .content-6-box{
        display: block;
    }
    .content-6-box .content-6-op-box{
        margin-bottom: 5px;
    }
    .content-7-box{
        display: block; 
    }
}